/.gradle/*
/.idea/*

**/build/*

**/*.jar
!**/*.placeholder

#
!gradle/*
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
#

gradle-app.setting

!gradlew
!gradlew.bat
!**/*.gradle

!LICENSE